<div class="row">

  <div class="col s3">

  </div>
  <div class="sidebar">
    <div class="collection">
      <div class="note-list">


        <div class="new-note">

          <form {{action 'createNote' on="submit"}}>
            {{input type="text"
            placeholder="New Note Title"
            value=newNoteTitle
            submit="createNote"}}
          </form>
          {{#if newNoteTitle}}<a href="#!" class="collection-item red white-text" {{action 'createNote'}}>Create</a>{{/if}}
        </div>
        {{note-list notes = model}}

      </div>
    </div>


  </div>
  <div class="col s9">{{outlet}}</div>
</div>
